@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&display=swap');

body {
    height: 100%;
    width: 100%;
    background-color: #773B40;
    color: white;
}

.container:not(:first-child) {
    margin-top: 20px;
}

.hero {
    overflow: auto;
    position: relative;
}
.hero::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;

    background-image: url("/assets/images/hero-nonblur.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    filter: blur(25px);
}
.title {
    width: fit-content;
}

.title .lead-text {
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 10px solid white;
    margin-bottom: 10px;
    text-align: center;
}
.title .sub-text {
    font-weight: 200;
    font-size: 30px;
    letter-spacing: 12px;
    text-align: center;
    text-transform: uppercase;
}

.traits {
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0 10px 0;
}

#img-king {
    transform: translateX(50%) translateY(-25%);
}

.book {
    background-image: url("/assets/images/book.png");
    background-size:1062px;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
}

.book .book-slider .text-slide {
    font-family: 'Gentium Book Plus', serif;
    font-size: 35px;
    color: #664B12;
    text-align: center;
}

.book .book-slider .text-slide p {
    max-width: 700px;
    margin: 0 auto;
}

.footer {
    margin-top: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #652328;
}